
  <div class="modal-header">
    <h4 class="modal-title" id="myUserLabel" jhiTranslate="userManagement.home.createOrEditLabel">
      Create or edit a User</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
  </div>
  <div class="modal-body">

    

   
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
      <span class="fa fa-ban"></span>&nbsp;
      <span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>
   
  </div>
