<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="container" style="border: 2px red;">
   <ul>
      <li style="float: left; margin-right: 20px;"><a [routerLink]="['/computer']">Computer</a></li> 
    <li style="float: left;  margin-right: 20px;"> <a [routerLink]="['/book']">Books</a></li> 
    <li style="float: left;  margin-right: 20px;"><a [routerLink]="[ '/usermanagement']"> User Management</a> </li> 
    <li style="float: left;  margin-right: 20px;"><a [routerLink]="[ '/yog']"> Yog</a> </li> 
  </ul>
    <br>
    Now the POPUP Modal Links
    <br>
  <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Compose</a>
  <a [routerLink]="[{ outlets: { popup: ['angular'] } }]"> Angular Pop</a>
  <a [routerLink]="[{ outlets: { popup: ['user'] } }]"> User Mgmt POPUP From Parent</a>
 
</div>

<h2>Here is routing Section</h2>
<router-outlet></router-outlet>
<router-outlet name="popup"></router-outlet>



