<!--The content below is only a placeholder and can be replaced.-->

<div class="container" style="border: 2px red;">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['/computer']">Computer</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/book']">Books</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[ '/usermanagement']">usermanagement</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " [routerLink]="[ '/yog']">Yog</a>
    </li>
  </ul>
    <br>
    Now the POPUP Modal Links
    <br>
  <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Compose</a>
  <a [routerLink]="[{ outlets: { popup: ['angular'] } }]"> Angular Pop</a>
  <a [routerLink]="[{ outlets: { popup: ['user'] } }]"> User Mgmt POPUP From Parent</a>
 
</div>

<h2>Here is routing Section</h2>
<router-outlet></router-outlet>
<router-outlet name="popup"></router-outlet>



